.blog {
  padding: 100px 10px;

  @media (max-width: 1024px) {
    padding: 50px 10px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  &__item {

    &-img {
      position: relative;

      img {
        max-width: 100%;
      }
    }

    &-date {
      display: inline-block;
      position: absolute;
      top: 100%;
      left: -10px;
      transform: translateY(calc(-100% - 10px));
      background: #95e1d3;
      text-align: center;
      padding: 15px;
    }

    &-day {
      font-weight: 700;
      font-size: 30px;
      color: #fff;
    }

    &-month {
      font-family: 'Roboto';
      font-weight: 300;
      font-style: italic;
      font-size: 15px;
      color: #fff;
    }

    &-title {
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      margin: 20px 0;
      color: #333333;
    }

    &-text {
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 15px;
      max-width: 346px;
      line-height: 1.6em;
      color: #999999;

      &::after {
        content: '';
        display: block;
        height: 1px;
        margin: 20px 0;
        background: #e5e5e5;
      }
    }

    &-rating, &-option {
      display: flex;
      align-items: center;
    }

    &-option {
      font-family: 'Roboto';
      font-weight: 300;
      font-style: italic;
      font-size: 15px;
      color: #999999;
      
      &:not(:first-child) {
        margin-left: 15px;
      }

      span {
        margin-left: 6px;
      }
    }
  }
}
