.brands {
  background: #f8f8f8;
  padding: 50px 10px;
  
  .wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    gap: 50px 105px;
  }

  &__logos {
    max-width: 100%;
  }
}
