.header {
  width: 100%;
  height: 100vh;
  background: url('../assets/img/header-background.jpg') no-repeat center / cover;
  padding: 28px 15px;

  & > .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  // Header Top

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 30px;
  }

  &__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;

    @media (max-width: 375px) {
      font-size: 26px;
    }
  }

  &__list {
    list-style: none;

    @media (max-width: 768px) {
      display: none;
    }

    & > li {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__item:not(:first-child) {
    margin-left: 55px;

    @media (max-width: 1024px) {
      margin-left: 40px;
    }
  }

  &__link {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    transition: .1s linear;

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 3px;
      background: #fce38a;
      top: calc(100% + 5px);
      opacity: 0;
      transition: .1s linear;
    }

    &:hover {
      color: #fce38a;

      &::after {
        opacity: 1;
      }
    }
  }

  &__burger {
    display: none;
    cursor: pointer;
    padding: 5px;

    div {
      width: 35px;
      height: 5px;
      background-color: #fff;
      margin: 6px 0;
    }

    @media (max-width: 768px) {
      display: block;
    }
  }

  // Header Content

  &__content {
    text-align: center;

    &-title {
      font-family: 'Kaushan Script';
      font-weight: 400;
      font-size: 72px;
      color: #fff;

      @media (max-width: 1024px) {
        font-size: 58px;
      }

      @media (max-width: 768px) {
        font-size: 45px;
      }

      @media (max-width: 425px) {
        font-size: 40px;
      }

      @media (max-width: 320px) {
        font-size: 35px;
      }
    }

    &-subtitle {
      font-size: 120px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: .93;
      color: #fff;
      max-width: 800px;
      margin: 35px auto 0;

      @media (max-width: 1024px) {
        font-size: 95px;
        max-width: 650px;
      }

      @media (max-width: 768px) {
        font-size: 65px;
        max-width: 400px;
        margin-top: 20px;
      }

      @media (max-width: 425px) {
        font-size: 45px;
        max-width: 300px;
        margin-top: 10px;
      }

      @media (max-width: 320px) {
        font-size: 40px;
      }
      
      &::after {
        content: '';
        display: block;
        width: 60px;
        height: 3px;
        background: #fff;
        margin: 50px auto;

        @media (max-width: 768px) {
          margin: 35px auto;
        }
      }
    }

    &-link {
      font-size: 14px;
      font-weight: 700;
      color: #fff;
      border: 3px solid #fff;
      padding: 10px 30px;
      text-decoration: none;
      text-transform: uppercase;
      transition: .2s;

      @media (max-width: 375px) {
        font-size: 12px;
      }

      &:hover {
        background: rgba(255, 255, 255, .3);
      }
    }
  }

  // Header Slider

  &__slider {
    display: flex;
    justify-content: center;
    counter-reset: header-slider;
    gap: 20px;
  }

  .slider__item:nth-child(1) > .slider__progress {
    opacity: 1;

    &::after {
      content: '';
      display: block;
      width: 25%;
      height: 3px;
      background: #f38181;
    }
  }

  .slider__item {
    flex-basis: 25%;
  }

  .slider__progress {
    height: 3px;
    background: #fff;
    opacity: .5;
  }

  .slider__text {
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 25px;

    @media (max-width: 520px) {
      font-size: 0px;
    }

    &::before {
      counter-increment: header-slider;
      content: '0' counter(header-slider);
      font-weight: 700;
      font-size: 24px;
      margin-right: 8px;

      @media (max-width: 375px) {
        font-size: 20px;
      }
    }
  }
}
