.map {
  background: url('../assets/img/map_background.jpg') no-repeat center / cover;
  text-align: center;
  padding: 50px 10px;

  @media (max-width: 375px) {
    padding: 30px 10px;
  }

  &__text {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 18px;
    color: #f38181;

    &::after {
      content: '';
      display: block;
      width: 60px;
      height: 3px;
      margin: 20px auto 0;
      background: #f38181;
    }
  }
}
