.stats {
  margin-top: 25px;
  background: #95e1d3;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__item {
    text-align: center;
    padding: 80px 0;
    flex-basis: 230px;

    @media (max-width: 768px) {
      padding: 25px 0;
      flex-basis: 50px;
    }

    &:nth-child(odd) {
      border-left: 1px solid rgba(255, 255, 255, .3);
      border-right: 1px solid rgba(255, 255, 255, .3);

      @media (max-width: 768px) {
        border: none;
      }
    }

    &-count {
      font-weight: 700;
      font-size: 72px;
      color: #fff;

      @media (max-width: 1024px) {
        font-size: 65px;
      }
    }

    &-info {
      font-weight: 500;
      font-size: 14px;
      text-transform: uppercase;
      margin-top: 15px;
      color: #fff;

      @media (max-width: 1024px) {
        font-size: 12px;
      }
    }
  }
}
