// Grid

$xs: 425px; // 0 - 425
$sm: 576px; // 0 - 576 - main || 425 - 576
$md: 768px; // 576 - 768 - main
$lg: 992px; // 992 - 1200 - main
$xl: 1200px; // 1200 - xxxx... - main || 1200 - 1400
$xxl: 1400px; // 1400 - xxxx..

// External

$wp: 1440px; // Wrapper Width
